body {
    font-family: montserrat;
}

nav {
    text-align:center;
    padding: 15px;
    font-size: 15px;
    margin: 20px 0;
}

section{
    margin: 50px 100px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}
