body {
    font-family: montserrat;
    margin: 0;
}

nav {
    text-align:center;
    padding: 15px;
    font-size: 15px;
    margin: 20px 0;
}

section{
    margin: 50px 100px;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

footer {
    background-color: #26272b;
    padding: 50px;
    font-size: 15px;
    color: #ffffff;
  }
  
  footer ul
  {
    padding-left: 0;
    list-style: none;
  }
  
  footer li
  {
    display: block;
  }
  
  footer a
  {
      color: #ffffff;
  }
