body{
    background-color: white;
}

nav a {
    color: black;
    margin: 0 30px;
    font-size: 13px;
    padding: 0 12px;
    text-decoration: none;
}

nav a:hover{
    border-bottom: 1px solid black;
    font-weight: 600;
}

.landing-image{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.landing-message{
    display: flex;
    align-items: center;
    font-size: 20px;
}

.text-container{
    margin-top: -100px;
}

.landing-image img{
    width: 70%;
}