nav a {
    color: white;
    margin: 0 30px;
    font-size: 17px;
    padding: 0 12px;
    text-decoration: none;
}

a:hover{
    border-bottom: 1px solid white;
    font-weight: 600;
}

.active {
    border-bottom: 1px solid white;
}