body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #806bc9;
    font-family: Montserrat;
}

form{
    text-align: center;
    height: auto;
    width: 60vh;
    background-color: white;
    padding: 20px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(32, 33, 36, .28);
}
div{
    text-align: left;
    margin: 20px;
}

.alignedItems{
    text-align: center;
    margin-block-start: 35px;
    margin-block-end: 35px;
}

.labelInputs{
    display:block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.typeInputs{
    border: #806bc9 solid 3px;
    border-radius: 10px;
    height: 35px;
    width: 100%;
    font-family: Montserrat;
    font-size: 15px;
    padding: 5px;
}

.extraFields{
    display: none;
}

.checkBoxInputs{
    display: flex; 
    justify-content: space-between;
}

.submitButton{
    background-color: #806bc9;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 300px;
    cursor: pointer;
}
.submitButton:hover{
    background-color: #7763bb;
}